{:kotoba.app/id "cloud.itonami.isic-2011", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiff5j5o6cbz5z7afs2x6ovonem3zk44tvfila634tixsphxoz2ble", :kotoba.app/embed-url "ipfs://bafkreiff5j5o6cbz5z7afs2x6ovonem3zk44tvfila634tixsphxoz2ble", :published {:archive "https://kotobase.net/ipfs/bafkreiff5j5o6cbz5z7afs2x6ovonem3zk44tvfila634tixsphxoz2ble", :size 72647, :put-status 201, :get-status 200, :at "2026-08-15T14:03:09.731Z"}}
